<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thai ID OCR App</title>
</head>
<body>
    <p>Thai ID OCR App</p>
    <form action="/extracttextfromimage" method="post" enctype="multipart/form-data">
        <label for="file">Upload Image File:</label>
        <input type="file" name="file" accept="image/*" required id="">
        <button>Extract Text From Image</button>
    </form>
    <!-- Inside this, we will populate the data by using -->
    <div cols="10" rows="10">
        <ul>
            <li>Name: <%=data.Name%></li>
            <li>Last Name: <%=data.LastName%></li>
            <li>Identification Number: <%=data.IdentificationNumber%></li>
            <li>Date of Birth: <%=data.DateOfBirth%></li>
            <li>Date of Issue: <%=data.DateOfIssue%></li>
            <li>Date of Expiry: <%=data.DateOfExpiry%></li>
        </ul>
    </div>
</body>